<form action="">
    <div>
        <label for="">Ingrese una categoria</label>
        <input #categoria type="text">
    </div>

    <button type="button" (click)="saveCategoria(categoria)">Guardar</button>
</form>

<br>
<br>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>categoria</th>
        </tr>
    </thead>
    <tbody *ngFor="let item of dataCategoria">
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.categoria}}</td>
        </tr>
    </tbody>
</table>
<br>

<button><a routerLink="/evento">Evento</a></button>
